/* HTML object based styling */
body {
    background-image: url(photos/kewl_spidey.webp);
    background-size: cover;
    background-attachment:fixed;
    color: white
    
}

label {
    padding-right: 10px
}

button {
    margin: 20px;
    padding: 10px;
}

/* class based styling */
.mainpage {
    text-align: center;
    margin: 15% auto 15% auto;
    opacity: 100%;
    position: relative;
}

.query-form {
    position: relative;
    margin-top: 50px
    
}

.form-inputs {
    margin: 15px;
    
}

